.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

.env
.env.local
.env.*

.vscode/
.idea/

.DS_Store
Thumbs.db

data/
static/charts/
celerybeat-schedule

# Build
Dockerfile
docker-compose.yml
README.md
node_modules
tests/
coverage/
htmlcov/
dist/
build/