services:
  redis:
    image: redis:alpine
    container_name: scholarforge_redis
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    container_name: scholarforge_db
    restart: always
    environment:
      - POSTGRES_USER=scholar
      - POSTGRES_PASSWORD=forgepass
      - POSTGRES_DB=scholarforge
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: scholarforge_web
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --reload
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://scholar:forgepass@db:5432/scholarforge
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - db

  worker:
    build: .
    container_name: scholarforge_worker
    
    command: watchmedo auto-restart --directory=./ --pattern=*.py --recursive -- celery -A task.celery_app worker --loglevel=info

    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://scholar:forgepass@db:5432/scholarforge
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
      - db

volumes:
  postgres_data: